/*************************** Style guide *******************************/
:root {
    /******************** typography **************/
    --principalFont: "Inter", sans-serif;

    /********************* Colors **********/
    --gray900: #141414;
    --gray800: #1F1F1F;
    --gray700: #333333;
    --green1: #C4F82A;
    --white1: #FFFFFF;

}